{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<font face = "Comic Sans MS">
<head>
<title>NLP prediction</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "text_classifier/styles/tip-yellow.css" %}">
<link rel="stylesheet" href="{% static "text_classifier/styles/main.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- canvas -->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="{% static "text_classifier/js/jquery.poshytip.js" %}"></script>
<script src="{% static "text_classifier/js/tag.utility.js" %}"></script>
<script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <img src="https://cdn.shopify.com/s/files/1/2040/0303/products/Cute_Adorable_Monkey_on_Computer_Cartoon_630020522_grande.jpg?v=1515719127" width="100" height="100">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><h1>MONKEY CLASSIFIER !</h1></a>
          <!-- https://pbs.twimg.com/profile_images/487262420684259328/vuAlpPf8_400x400.jpeg -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a id = "pred_mode"  href = "{% url 'text_classifier:index' %}">PREDICT</a></li>
            <li><a id = "eval_mode"  href = "{% url 'text_classifier:eval_mode' %}">EVALUATE</a></li>
            <li><a id = "train_mode" href = "{% url 'text_classifier:train_mode' %}">TRAIN</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<body>

<!-- <img src="{% static "text_classifier/styles/tip-yellow.css"  alt=""> -->

<div class="container">

</div>
  <div class="container" id="container">
    <div class="row">
      <div class="col-md-12">
          <form action="{% url 'text_classifier:apply_model' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <label> <font face = "Comic Sans MS" style="color:#000000" size="5">working on {{ data_name }} dataset</font></label> <br>
               <font face = "Comic Sans MS">
               <div class="input-group select_group">
               <select name="sel_data" class="select form-control">
                   {%for dataset in dataset_name %}
                   {% if devname == dataset %}
                    <option value={{dataset}} selected="selected">{{dataset}}</option>
                   {% else %}
                    <option value={{dataset}}>{{dataset}}</option>
                   {% endif %}
                   {% endfor %}
               </select>
               <span class="input-group-btn">
               <button type="submit" class="btn btn-primary">SELECT</button>
               </span>
               </div>
               </font>
           </form>
          {% if mode == 'train_mode' %}
              <div  class="form-group">
                  <br/>
                  {% if total_sample %}
                    <p>we have {{ total_sample }} examples!</p>
                    <form action="{% url 'text_classifier:simple_train' %}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary">TRAIN!</button>
                    </form>

                  {% else %}
                    <label><font face = "Comic Sans MS" style="color:#000000" size="5">Try to type in my review</font></label>
                  {% endif %}

                  {% if train_acc %}
                    <input type="hidden" id="train_acc" name="train_acc" value="{{ train_acc }}">
                    <input type="hidden" id="F1Score" name="F1Score" value="{{ F1Score }}">
                    <input type="hidden" id="total_sample" name="total_sample" value="{{ total_sample }}">
                    <div class="training_stat">
                        <br>
                            <font face = "Comic Sans MS" style="color:#336699" size="20">Performance Statistics</font>
                            <div class="container" style="border:solid 0px #2E86C1;">
                                <div class="container" style="margin-top:2%;margin-left:10%;margin-right:5%">
                                    <div class="col-sm-4" style="margin-top:4%">
                                      <font face = "Comic Sans MS" size="25" style="color:#99CC33"> {{ total_sample }} </font>
                                    </div>
                                    <div class="col-sm-4" >
                                      <div class="circle" id="circles_acc" ></div>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="circle" id="circles_f1"> </div>
                                    </div>
                                </div>

                                <div class="container" style="margin-left:10%;margin-right:0%">
                                    <div class="col-sm-4">
                                      <font face = "Comic Sans MS" style="color:#009966" size="15">Text</font>
                                    </div>
                                    <div class="col-sm-4" >
                                      <font face = "Comic Sans MS" style="color:#DC7633" size="15">Accuracy</font>
                                    </div>
                                    <div class="col-sm-4">
                                      <font face = "Comic Sans MS" style="color:#7D3C98" size="15">F1Score</font>
                                    </div>


                                </div>
                            </div>

                            <br>
                            <font face = "Comic Sans MS" style="color:#336699" size="20">Word Bubble of Keywords</font>
                            <!-- <div class="container" id = "train_class" style="border:solid 3px #D3B6C6;">
                             </div> -->
                             <div class="bubble" id="bubble_train" style="display:inline-block;">
                             </div>

                             <script src="{% static "text_classifier/js/bubble.utility.js" %}"></script>
                             <script type="text/javascript">
                                 var topA_val = {{topA_val|safe}};
                                 var topA_name = {{topA_name|safe}};
                                 var topB_val = {{topB_val|safe}};
                                 var topB_name = {{topB_name|safe}};
                                 $("#bubble_train").ready(function() {
                                     console.log( "ready!" );
                                     displayBubble(topA_val,topA_name,topB_val,topB_name)
                                 });
                             </script>
                    </div>
                    <br>
                    </div>
                    <script src="{% static "text_classifier/js/circle.min.js" %}"></script>
                    <script src="{% static "text_classifier/js/circle.utility.js" %}"></script>
                    <script src="{% static "text_classifier/js/circle.generate.js" %}"></script>
                  {% endif %}
                  <br/>

                   <form action="{% url 'text_classifier:simple_add' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="{{form.phrase.id_for_label}}"> </label><br/>
                        <input id="input_text" type="text" name="sentence" value="{{ sentence_text }}"><br/>
                        <label for="{{form.phrase.id_for_label}}">Select a label</label>
                        <select name="label">
                          <option value="NEGATIVE">NEGATIVE</option>
                          <option value="POSITIVE">POSITIVE</option>
                        </select>
                        <br/>
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </form>

                    <br/>

                     <form action="{% url 'text_classifier:simple_upload' %}" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                       <input type="file" name="labeled_tsv_file">
                       <input id="input_text" type="text" name="new_devname" value="{{ new_devname }}"><br/>
                       <label><font face = "Comic Sans MS" style="color:#000000" size="5">classifier name </font></label> <br/>
                       <button type="submit" class="btn btn-primary">UPLOAD</button>
                     </form>
                     {% if read_sample %}
                       <p>read {{ read_sample }} examples</p>
                     {% endif %}
                     <p><a href="{% url 'text_classifier:train_mode' %}"> </a></p>
                 </div>

          {% elif mode == 'pred_mode' %}
              <form class="form-horizontal" action="{% url 'text_classifier:results' %}" method="post">
                  <div  class="form-group">
                    {% csrf_token %}
                    <div class="review">
                    <label for="input_text">Type a review</label>
                    <textarea id="input_text" class="form-control" rows="6" name="sentence" value="{{ sentence_text }}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">DETECT</button>
                  </div>
              </form>

          {% elif mode == 'eval_mode' %}

                  <form class="form-horizontal" action="{% url 'text_classifier:simple_eval' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="up_dev_file">
                    <!-- <input id="input_text" type="text" name="up_tsv_file" value="{{up_tsv_file}}"><br/> -->
                    <button type="submit" class="btn btn-primary">EVALUATE</button>
                  </form>

                  {% if F1Score %}
                      <font face = "Comic Sans MS" style="color:#336699" size="20">Performance Statistics</font>
                      <input type="hidden" id="train_acc" name="train_acc" value="{{ train_acc }}">
                      <input type="hidden" id="F1Score" name="F1Score" value="{{ F1Score }}">
                      <input type="hidden" id="total_sample" name="total_sample" value="{{ total_sample }}">

                      <div class="container" style="border:solid 3px #1F618D;">
                          <div class="container" style="margin-top:2%;margin-left:10%;margin-right:5%">
                              <div class="col-sm-4" style="margin-top:4%">
                                <font face = "Comic Sans MS" size="25" style="color:#99CC33"> {{ total_sample }} </font>
                              </div>
                              <div class="col-sm-4" >
                                <div class="circle" id="circles_acc" ></div>
                              </div>
                              <div class="col-sm-4">
                                <div class="circle" id="circles_f1"></div>
                              </div>
                          </div>

                          <!-- <div class="container" style="margin-left:10%;margin-right:0%"> -->
                              <!-- <div class="col-sm-4">
                                <h2>Text</h2>
                              </div>
                              <div class="col-sm-4" >
                                <h2>Accuracy</h2>
                              </div>
                              <div class="col-sm-4">
                                <h2>F1Score</h2>
                              </div> -->
                              <div class="container" style="margin-left:10%;margin-right:0%">
                                  <div class="col-sm-4">
                                    <font face = "Comic Sans MS" style="color:#009966" size="15">Text</font>
                                  </div>
                                  <div class="col-sm-4" >
                                    <font face = "Comic Sans MS" style="color:#DC7633" size="15">Accuracy</font>
                                  </div>
                                  <div class="col-sm-4">
                                    <font face = "Comic Sans MS" style="color:#7D3C98" size="15">F1Score</font>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <script src="{% static "text_classifier/js/circle.min.js" %}"></script>
                      <script src="{% static "text_classifier/js/circle.utility.js" %}"></script>
                      <script src="{% static "text_classifier/js/circle.generate.js" %}"></script>
                  {% endif %}


         {% else %}
             <!-- <p> Analyzing Bag: {{mode}}</p> -->
          {% endif %}


        <form class="form-horizontal">
        {% if label %}
          <div  class="form-group">
            <!-- <p id='sentence'> Analyzing sentence: {{sentence}}</p> -->
            <font face = "Comic Sans MS" size="5" id='sentence'>Analyzing sentence: {{sentence}}</font>
            <br>
            <font face = "Comic Sans MS" size="5" id='sentence'>This sentence is : {{label}}</font>
            <!-- <p> This sentence is : {{label}}</p> -->
                <span id="probability" style="display: none;">{{sent_conf}}</span>
                <div id= "ppBar" style="max-height: 370px; max-width: 720px;">
                    <input type="hidden" id="sent_conf" name="sent_conf" value="{{ sent_conf }}">
                    <h4>{{class_a}}</h4>
                    <div id="myProgress1">
                      <div id="myBar1">0%</div>
                    </div>
                    <h4>{{class_b}}</h4>
                    <div id="myProgress2">
                      <div id="myBar2">0%</div>
                    </div>
                    <br>
                </div>
                <script src="{% static "text_classifier/js/utility.move.js" %}"></script>
                <script type="text/javascript">
                    var sent_conf = {{ sent_conf|safe }};


                    $("#ppBar").ready(function() {
                        console.log( "ready2!" );
                        drawResult(sent_conf)
                    });
                </script>


                <div class="bubble" id="bubble_pred">
                </div>

                <script src="{% static "text_classifier/js/bubble.utility.js" %}"></script>
                <script type="text/javascript">
                    var topA_val = {{topA_val|safe}};
                    var topA_name = {{topA_name|safe}};
                    var topB_val = {{topB_val|safe}};
                    var topB_name = {{topB_name|safe}};
                    $("#bubble_pred").ready(function() {
                        console.log( "ready!" );
                        displayBubble(topA_val,topA_name,topB_val,topB_name)
                    });
                </script>

            <!-- <input type=button class="btn btn-primary" value="Previous Page" onClick="javascript:history.go(-1);"> -->
            <a class="btn btn-primary" id="explain_btn">explain</a>
            <a class="btn btn-primary" id="plot_btn">plot</a>
            <a class="btn btn-primary" href="{% url 'text_classifier:index'%}">main page</a>
            <div class="explain" style="display: none;">
              <div class="explain-bar" id="bar_plus">
              <img class="plus_minus_sign" width="25px" vertical-align="middle" src={% static "text_classifier/img/plus_sign.png" %}>
              </div>
              <div class="explain-bar" id="bar_minus">
              <img class="plus_minus_sign" width="25px" vertical-align="middle" src={% static "text_classifier/img/minus_sign.png" %}>
              </div>
              <div id="explain_table_whole">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Color</th>
                      <th>Feature</th>
                      <th>Contribution</th>
                    </tr>
                  </thead>
                  <tbody id="explain_table">
                  </tbody>
                </table>
              </div>
              <a class="btn btn-primary" id="hide_table">hide table</a>
              <a class="btn btn-primary" id="hide_explain">hide</a>
            </div>

            <!-- adjustableplot -->
            <div class="plot" style="display: none;">
                <div id="chartContainer" style="height: 370px; max-width: 720px;"></div>
                <!-- <div id="chartContainer2" style="height: 370px; max-width: 720px;"></div> -->
                <a class="btn btn-primary" id="hide_plot">hide</a>
                <a class="btn btn-primary" id="save_plot">save</a>
            </div>
          </div>
        {% else %}
        {% endif %}
       </form>

      </div>
    </div>
  </div><!-- /container -->
  <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
  <script src="{% static "text_classifier/js/explain.utility.js" %}"></script>
</body>
<!-- <footer>
    <h1>Related Word Bubble</h1>
    <div class="container" id = "train_class">
    </div>
</footer> -->


</font>
</html>
